.sidebar {
  position: fixed;
  /* Fixed position */
  top: 80px;
  /* Below the main header */
  left: 0;
  width: 250px;
  height: calc(100% - 80px);
  /* Full height minus the height of the main header */
  background-color: rgb(247, 247, 247);
  border-right: 1px solid var(--border);
  transition: transform 0.3s ease;
  justify-content: center;
  display: flex;
  z-index: 900;
  /* Ensure sidebar is above the main content */
  overflow-y: auto;
  /* Allow vertical scrolling if needed */
}

.sidebar.open {
  transform: translateX(0);
}

.filter.active {
  background-color: var(--powder-blue); /* Change this to your desired active color */
  color: var(--royal-blue-web-color); /* Change text color to make it visible on the background */
}

.filter:hover{
  background-color: rgb(229, 229, 229);
  cursor: pointer;
}
.filter.active:hover{
  cursor: pointer;
  background-color: var(--powder-blue); 
}

.filters {
  height: 300px;
  width: 200px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.head-filters{
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  font-weight: 600;
  color: var(--penn-blue);
}

.filter{
  font-size: 15px;
  padding: 8px 8px;
  margin-top: 5px;
  border-radius: 20px;
  border: none;
  padding-left: 30px;
  transition: 0.3s ease;
}


